#body-public.appbody-gallery #controls a, 
#body-public.appbody-gallery #controls button{
	color:#fff;
	box-shadow:none;
	margin-top:5px;
	border-radius:0;
}

#controls .button i.ioc{
	font-size:20px;
	line-height:14px;
	
}


#body-user #header,#body-public #header{
	z-index:200;	
}
#slideshow {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	display: none;
	background-position: center center;
	
}

.lightBg{
	background-color: white;
}

.darkBg{
	background-color: black;
}

.darkColor{
	color:#000;
}
.lightColor{
	color:#fff;
}

.slideshow-progress{
	background-color:rgba(255,255,255,0.2);
	position:absolute;
	bottom:0;
	left:0;
	width:0%;
	display:none;
	height:6px;
	z-index:20;
}
#viewportImage{
	position:fixed;
	
	width:90%;
	height:90%;
	top:5%;
	left:5%;
	margin:0;
	padding:0;
	display:block;
	z-index: 1010;
	
}
#viewportImage img{
	background-color:rgba(255,255,255,0.9);
}

#previewContainer{
	position: fixed;
	bottom:0px;
	
	left:50%;
	margin-left:-304px;
	display:inline-block;
	z-index:1300;
	float:left;
	width:608px;
	height:80px;
	
	max-height:80px;
	overflow:hidden;
	vertical-align:middle;
	
}

#previewContainerInner{
	position:relative;
	float:left;
	
	vertical-align:middle;
	height:80px;
	display:inline-block;
	width: 5000px;
	padding:0;
}

#slideshow #viewportImage >img {
	position: relative;
	vertical-align: middle;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#slideshow #viewportImage img:hover {
	background: black url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAMFBMVEX/AAD/AP8AAP8A//8A/wD//wB/AAB/AH8AAH8Af38AfwCCfwAAAAAZGRkzMzNMTEy64p6SAAAAF0lEQVQI12P4DwRngICBQgaIAHEoZAAASHBywR1kvCwAAAAASUVORK5CYII=)repeat;
}

#previewContainerInner .imageDivPreview{
	
	position:relative;
	border:1px solid #fff;
	background-color:#fff;
	width:72px;
	height:72px;
	display:inline-block;
	padding:0;
	vertical-align:middle;
	float:left;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	opacity: .4;
	margin-left:1px;
	margin-right:1px;
}

#previewContainerInner .imageDivPreview.prev-image-active{
	background-color:#8C9BAB;
	opacity: 1;
}

#previewContainerInner > div:hover{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}
#slideshow  i.ioc {
	font-size:28px;
}
#slideshow  i.ioc.ioc-close{
	font-size:40px;
}

#slideshow button.button, #slideshow a.button {
	background-color: transparent;
	border: 0 transparent;
	outline: 0;
	box-shadow: none;
	width: 52px;
	height: 52px;
	position: absolute;
	z-index: 1100;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: .3;
	background-position: center center;
	background-repeat: no-repeat;
}

#slideshow.inactive button.button, 
#slideshow.inactive a.button, 
#slideshow.inactive > #previewContainer {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	/* slow fadeout, fadein will be 300ms again*/
	-webkit-transition: opacity 3s;
	-moz-transition: opacity 3s;
	-o-transition: opacity 3s;
	transition: opacity 3s;
}

#slideshow button.button:hover, 
#slideshow.active  button.button, 
#slideshow a.button:hover, 
#slideshow.active  a.button, 
#slideshow.active > #previewContainer,  
#slideshow.active > #previewContainerInner div {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	opacity: 0.8;
}

#slideshow .previewNext, #slideshow .previewPrevious {
	bottom:16px;	
	opacity:0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	background-color:rgba(0,0,0,0.8);
}

#slideshow .previewNext:hover, #slideshow .previewPrevious:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}

#slideshow > .previewNext {
	left:50%;
	margin-left:295px;
}

#slideshow > .previewPrevious {
	left:50%;
	margin-left:-350px;
}

#slideshow > * {
	-webkit-transition: opacity 300ms;
	-moz-transition: opacity 300ms;
	-o-transition: opacity 300ms;
	transition: opacity 300ms;
}



#slideshow  button.button.showMeta i.ioc.lightColor{
	color:#FBDD52;
}
#slideshow  button.button.showControl i.ioc.lightColor{
	color:#FBDD52;
}
#slideshow  button.button.showGal i.ioc.lightColor{
	color:#FBDD52;
}

#slideshow  button.button.activeZoom i.ioc.lightColor{
	color:#FBDD52;
	
}

#slideshow  button.button.showMeta i.ioc.darkColor{
	color:#769B43;
}
#slideshow  button.button.showControl i.ioc.darkColor{
	color:#769B43;
}
#slideshow  button.button.showGal i.ioc.darkColor{
	color:#769B43;
}

#slideshow  button.button.activeZoom i.ioc.darkColor{
	color:#769B43;
	
} 


#slideshow > .next, #slideshow > .previous {
	top: 50%;
	margin-top: -21px;
}

#slideshow > .next {
	right: 0px;
}

#slideshow > .previous {
	left: 0;
}

#slideshow > .exit {
	right: 5px;
	top: 5px;
}

#slideshow .button-top-right button.button,
#slideshow .button-top-right a.button
{
	position:relative;
	top:0;
	width:46px;
	height:46px;
}
#slideshow .button-top-right{
	position:absolute;
	float:left;
	top:10px;
	right:55px;
	text-align:right;
	display:block;
	
	height:54px;
	min-width:300px;
}






#slideshow > .zoomToFit {
	
	right: 6px;
	top: 205px;
	
}
#slideshow > .zoomToFitHeight {
	right: 6px;
	top: 150px;	
}

#slideshow > .zoomToFitWidth {
	right: 6px;
	top: 95px;	
	
}
#slideshow > .fullscreen-start , #slideshow > .fullscreen-exit{
	right: 6px;
	top: 50px;
	font-size:24px;
}


#slideshow > .fullscreen-exit {
	display:none;
}

#slideshow > .pause, #slideshow > .play {
	bottom: 0;
	right: 0;
	margin-top: -21px;
}

#slideshow > .play {
	display: none;
}

#slideshow > .pause {
}

#slideshow > label.labelBigImage{
	position:absolute;
	top:5%;
	left:5%;
	padding:5px;
	z-index:10000;
	width:250px;
	line-height:20px;
	display:block;
	font-family:'Helvetica Neue',arial;
	color:rgba(0,0,0,0.8);
	background:rgba(255,255,255,0.8);
	box-shadow:1px 1px 1px #fff;
	font-size: 14px;
	border-radius:4px;
	margin:10px 10px;
	text-align: left;
}

.labelBigImage .mTitle{
	font-weight:bold;
	font-size:16px;
	
}
.labelBigImage .mDescr{
	color:#515151;
	font-size:14px;
	font-style:italic;
}
.labelBigImage .mDate{
	line-height:24px;
	font-size:14px;
}
.labelBigImage .mInfo{
	color:#515151;
	line-height:24px;
	font-size:13px;
	font-style:italic;
}


#slideshow > .progress {
	position: fixed;
	bottom: 13px;
	right: 13px;
	display:none;
	background-position: 0 100%;
	width: 32px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: .3;
	height: 0;
}

#slideshow.inactive > .progress {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	display:none;
	/* slow fadeout, fadein will be 300ms again*/
	-webkit-transition: opacity 3s;
	-moz-transition: opacity 3s;
	-o-transition: opacity 3s;
	transition: opacity 3s;
}


#overlayEdit{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#000;
	z-index:1002;
	display:none;
	float:left;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	opacity: .6;
}

#dialog{
	background:white;
	position:absolute;
	z-index:1010;
	left:50%;
	top:10%;
	color:#000;
	margin-left:-150px;
	padding:10px;
	width:300px;
	height:auto;
	display:none;
	border-radius:8px;
}
#dialog label{
	border-bottom:1px solid #000;
	display:block;
	float:left;
	width:98%;
	font-weight:bold;
	color:#000;
	
}
#dialog input[readonly="readonly"]{
	background-color:#EEEEEE;
}

#dialog label.metaDescr{
	display:block;
	text-align:right;
	float:left;
	width:28%;
	font-weight:normal;
	line-height:36px;
	padding-right:5px;
	border-bottom:none;
}

#dialog #dMessage{
	height:20px;
	display:block;
	float:left;
	width:100%;
	font-weight:bold;
	color:green;
}
#dialog #dClose{
	float:right;
}



