<div id="slideshow">
	<div id="viewportImage"></div>
	<label class="labelBigImage"></label>
	<button class="button next"><i class="ioc ioc-right-open "></i></button>
	<button class="button play"><i class="ioc ioc-play "></i></button>
	<button class="button pause"><i class="ioc ioc-pause "></i></button>
    <button class="button previous"><i class="ioc ioc-left-open "></i></button>
	<button class="button exit"><i class="ioc ioc-close "></i></button>
	<div class="button-top-right">
	<button class="button editMetadata"><i class="ioc ioc-edit "></i></button>
	<button class="button previewGal"><i class="ioc ioc-thumbs "></i></button>
	<button class="button downloadImage"><i class="ioc ioc-download "></i></button>
	<a class="share button sharefile" 
	data-item-type="file" 
	data-item="" 
	data-link="true"
	title=""
	data-possible-permissions=""><i class="ioc ioc-share "></i></a>
	<button class="button infoMeta"><i class="ioc ioc-info"></i></button>
	<button class="button controlsOn"><i class="ioc ioc-eye"></i></button>
	</div>
	<button class="button zoomToFitHeight activeMode"><i class="ioc ioc-zoom-out "></i></button>
	<button class="button zoomToFitWidth activeMode"><i class="ioc ioc-zoom-in "></i></button>
	<button class="button zoomToFit activeMode"><i class="ioc ioc-search "></i></button>
	<button class="button fullscreen-start"><i class="ioc ioc-resize-full-1 "></i></button>
	<button class="button fullscreen-exit"><i class="ioc ioc-resize-small "></i></button>
	
	
	<div class="slideshow-progress"></div>
	<div class="progress icon-view-pause"></div>
	<div id="previewContainer">
		<div id="previewContainerInner"></div>
		</div>
		<button class="button previewNext"><i class="ioc ioc-right-open "></i></button>
        <button class="button previewPrevious"><i class="ioc ioc-left-open "></i></button>
		
		
</div>
<div id="dialog" style="display:none;"></div>
<div id="overlayEdit" style="display:none;"></div>